@model IEnumerable<Pro_Admin.Models.Employee_Master>

@{
    ViewBag.Title = "Index";
}

<a href="#" class=" fa fa-user fa-4x clx">User Record</a>


<style>

    a.txt {
        cursor: pointer;
        text-decoration: none;
    }
    a.clx{
        cursor: pointer;
        text-decoration: none;
    }
    div#mytable_wrapper {
        position: relative;
        margin-top: 10px;
    }
</style>

<table class="table" id="mytable" >
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Date_Of_Birth
            </th>
            <th>
                Phone
            </th>
            <th>
                Address
            </th>
            <th>
                EmailId
            </th>
            <th>
                Country
            </th>
            <th>
                State
            </th>
            <th>
                City
            </th>
            <th>
                @if (User.IsInRole("Admin"))
                {
                    <label>Action</label>
                }
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a class="txt" value="@item.Name">@item.Name</a>
                </td>
                <td>
                    <a class="txt" value="@item.Date_Of_Birth">@item.Date_Of_Birth</a>
                </td>
                <td>
                    <a class="txt" value="@item.Phone">@item.Phone</a>
                </td>
                <td>
                    <a class="txt" value="@item.Address">@item.Address</a>
                </td>
                <td>
                    <a class="txt" value="@item.EmailId">@item.EmailId</a>
                </td>


                <td>
                    <a class="txt" value="@item.Country_Info.Country_name">@item.Country_Info.Country_name</a>
                </td>
                <td>
                    <a class="txt" value="@item.State_info.State_Name">@item.State_info.State_Name</a>
                </td>
                <td>
                    <a class="txt" value="@item.City_Info.City_Name">@item.City_Info.City_Name</a>
                </td>

                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Edit", "Edit2", new { id = item.EmpId })
                        <a href="#" class="btnDelete fa fa-trash"></a><input type="hidden" value="@item.EmpId" />
                    }

                </td>
            </tr>
        }
    </tbody>
</table>


@*<script>
    (function ($) {
        if (!$.cookie("Login")) {
             swal("Welcome", "@User.Identity.Name !", "info")
            $.cookie("Login", "x");
        }
    })(jQuery);
</script>*@


<script>

    $(document).ready(function () {

        $("#mytable").DataTable();
        $(".btnDelete").on("click", function () {
            var id = $(this).next().val();
            alertify.confirm('Are You Sure', 'To Delete !',
                function () {
                    alertify.success('Ok')
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Delete","Employee_Master")',
                        data: { id: id },
                        dataType: "json",
                        success: function (response) {
                            if (response) {
                                alertify.alert('Successful', 'Record Deleted!',
                                    function () {
                                        alertify.success('Ok');
                                        location.reload();
                                    });
                            }

                            else {
                                alertify.alert('Your Data Is Safe', 'Record Not Deleted!',
                                    function () {
                                        alertify.success('Ok');
                                        location.reload();
                                    });
                            }
                        }
                    });
                }
                , function ()
                {
                    alertify.error('Cancel')
                });
        });
    });
</script>



